<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
{% apply inline_css(source("index.css")) %}
    <body>
    {% block body %}

        <div class="contenu">

            <div class="container_title">
                <p class="red">Nom</p>
                <p class="reder">Prénom</p>
                <p class="red">Telephone</p>
                <p class="reder">Adresse</p>
            </div>


            <div class="container_title" id="divresult">
                <p class="grey">{{ nompatient }}</p>
                <p class="greyer">{{ prenompatient }}</p>
                <p class="grey">{{ telpatient }}</p>
                <p class="greyer">{{ adressepatient }}</p>
            </div>

        </div>

        <h2>Modifier le patient</h2>
        {{ form(form) }}

    {% endblock %}
    </body>
{% endapply %}
</html>
